<div class="container pt-5">
  <div class="row pt-5"></div>
  <div class="row mx-auto">
    <div class="col-sm"><h3><b>Edit Post</b></h3></div>
      <div class="col">
        <div class="list-group float-right">
          <a href="/posts" class="text-danger font-weight-bold list-group-item list-group-item-danger">< Back</a>
        </div>
      </div></div></div><br>
      <div class="d-flex justify-content-center">
        <% if @post.errors.any? %>
          <h6><b>The following errors prevented the post from being submitted:</b></h6>
          <% @post.errors.full_messages.each do |msg| %>
            <div class="text-danger"><%= msg %></div>
          <% end %>
        <% end %>
        <br>


        <%= form_with(model: @post, local: true) do |f| %>


          <b>Title</b><br>
          <%= f.text_field :title %>
          <br><br>
          <b>Body</b><br>
          <%= f.text_area :body %>
          <br><br>
          <%= f.submit :class => 'btn btn-outline-success' %>

        <% end %>
      </div>
      <br> <br>

    </div>
  </div>

</div>